@font-face {
  font-family: futura-b;
  src: url(../../futura/FuturaStd-Heavy.otf);
}

@font-face {
  font-family: futura-bb;
  src: url(../../futura/FuturaStd-Bold.otf);
}

h1{
  font-family: 'Futura-bb', 'serif';
  font-size: 32px;
  line-height: 40px;
}

h6{
  font-family: 'Futura-b', 'serif';
  font-size: 18px;
  line-height: 21px;
}

p {
  font-family: 'Avenir Next', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

p.death-desc{
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.inline-text {
  display: inline-block;
}

.margin-top-sm {
  margin-top: 24px;
}

.margin-top-md {
  margin-top: 48px;
}

.margin-btm-md {
  margin-bottom: 48px;
}

.axis-label {
  fill: #4a4a4a !important;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.axis path,
.axis line{
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

text {
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
}

text.data-label {
  fill: white;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
}

.footer {
  background-color: #fafafa;
  padding: 48px 0px;
}

.survey-button {
  width: 160px;
  height: 32px;
  line-height: 32px;
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #2a2a2a;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  margin: 32px auto;
  cursor:pointer;
}

.step-circle {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  border: 2px solid #666;
  background-color: none;
  margin: 12px 2px;
}

.section-active {
  background-color: #333;
  border: 2px solid #333;
  height: 16px;
  width: 16px;
  margin: 10px 0px;
}

.instructions {
  width: 144px;
  position: fixed;
  bottom: 10%;
  left: 50%;
  margin-left: -72px;
  color: #aaa;
}

.instructions > p{
  font-size: 12px;
  line-height: 14px;
}
